
.headermessage {
    margin: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.image-block {
}

    .image-block > p {
        width: 100%;
        height: 100%;
        font-weight: normal;
        font-size: 19px;
        /*padding-top: 120px;*/
        background-color: rgba(3,3,3,0.0);
        color: white;
        /*color: rgba(6,6,6,0.0);*/
    }

    .image-block:hover > p {
        /*background-color: rgba(3,3,3,0.5);*/
        background-color: #8ea9e8;
        color: white;
    }

.tripHistory {
    margin-top: 32px;
}

.image-block > h1 {
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 19px;
    padding-top: 150px;
    background-color: rgba(3,3,3,0.0);
    color: white;
    /*color: rgba(6,6,6,0.0);*/
}

.tripEnable {
    border: 1px solid white;
    /*background-color: black;*/
    padding: 0px;
    margin: 0px;
    height: 150px;
    text-align: center;
    vertical-align: bottom;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 20%;
}

.tripDisable {
    border: 1px solid white;
    /*background-color: black;*/
    padding: 0px;
    margin: 0px;
    height: 150px;
    text-align: center;
    vertical-align: bottom;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 20%;
}

/*.tripHistoryUL li {
    display: flex;
    float: left;
    width: 20%;
    border: 1px solid white;
    height: 130px;
    margin: 0 10px 10px 0;
}*/

.tripHistoryLi {
    display: flex;
    float: left;
    width: 20%;
    border: 1px solid white;
    height: 130px;
    margin: 0 10px 10px 0;
    
}

    .tripHistoryLi span {
        margin-top: 50px;
        color: white;
        margin-left: -34px;
    }

    .tripHistoryLi p {
        margin-top: 10px;
        color: white;
        font-size: 16px;
        margin-left: 20px;
    }

    .tripHistoryLi button {
        height: 20%;
        margin-top: 103px;
    }

.tripHistoryLiDisable {
    display: flex;
    float: left;
    width: 20%;
    border: 1px solid white;
    height: 130px;
    margin: 0 10px 10px 0;
    opacity:0.5;
}

    .tripHistoryLiDisable span {
        margin-top: 50px;
        color: white;
        margin-left: -76px;
    }

    .tripHistoryLiDisable p {
        margin-top: 10px;
        color: white;
        font-size: 16px;
        margin-left: 20px;
    }

    .tripHistoryLiDisable button {
        height: 20%;
        margin-top: 103px;
        font-size: 12px;
        pointer-events:none;
    }
